* {
  margin: 0px;
  padding: 0px; /*preenchemento interno da caixa*/
  box-sizing: border-box; /*A medida do tamanho da caixa  para ser medida atraves da borda*/
}

body {
 background: url(./imagens/bg-mobile.jpg) no-repeat top center/cover;
 
}

body.light {
 background: url(./imagens/bg-desktop-light.jpg);
}

.caixa_principal {
  
  width: 366px; /* Largura*/
  margin: 56px auto 0px;
  height: auto;

  /*padding: 100px; preenchemento interno da caixa*/
  padding: 0px 24px;
  max-width: 400px;
}


.imagem img {
  width: 130px; /*Largura da imagem*/
  display: block; /*Ativar para centralizar a imagem, pega o elemento e da toda a largura de dela*/
  margin: auto;
  padding: 20px auto auto auto;
}
.list {
 
  text-align: center;
  font-weight: 500; /*É o negrito*/
  line-height: 24px; /*Altura da linha*/
  margin-top: 10px; /*distancia entre a foto eo @*/
}


 .face li {
 
  border-radius: 8px; /*raio das bordas*/
  padding: 16px 12px;
  gap: 10px;
  
  backdrop-filter: blur(4px); /*coloca um desfoco na caixa*/

  text-decoration: none; /*Tira a linha de baixo das palavras*/
  transition: background 0.2s;
   color: rgb(252, 250, 250);
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  
  
  
}
.face.light li {
 
  border-radius: 8px; /*raio das bordas*/
  padding: 16px 12px;
  gap: 10px;
  
  backdrop-filter: blur(4px); /*coloca um desfoco na caixa*/

  text-decoration: none; /*Tira a linha de baixo das palavras*/
  transition: background 0.2s;
   color: rgb(7, 7, 7);
  border: 1.5px solid rgba(3, 3, 3, 0.5);
  background-color: rgba(12, 12, 12, 0.1);
  
  
  
}



ul {
  list-style: none; /*Tira os pontos da lista*/
  flex-direction: column; /*Ele faz com que os elementos fiquem um a baixo do outro*/
  display: flex; /*Ele deixa os elementos dentro da caixa , fiquem um ao lado ou em baixo do outro*/

  gap: 16px; /*Coloca espaço entre os elementos*/
  padding: 24px 0px;
  
}


.social p {
  text-align: center;
  margin-top: 15px;
  color: rgb(250, 249, 249);
  font-size: 18px;
}
.social {
  text-decoration: none;
}
.social.light p{
  text-align: center;
  margin-top: 15px;
  color: rgb(7, 7, 7);
  font-size: 18px;
}
.insta {
  text-decoration: none;
}


.face ul li:hover {
  border: 1.5px solid white;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
}
.face.face.light ul li:hover {
  border: 1.5px solid rgb(110, 109, 109);
  border-radius: 8px;
  background: rgba(58, 51, 51, 0.05);
}
.footer {
  text-align: center;
  padding: 24px 0px;
  color: white;
}
.footer.light {
  text-align: center;
  padding: 24px 0px;
  color: rgb(22, 21, 21);
}
.button-seta img {
  position: fixed;
   right: 0;
  top: 50%;
  width: 50px;
  border-radius: 50px;
}
.button-seta.light img {
  position: fixed;
   left: 0;
  top: 50%;
  width: 50px;
  border-radius: 50px;
  transform: rotate(180deg);/*Rotaciona a seta em 180 deg*/
}
  





